// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* Styles pour le menu horizontal */
.navbar1 {
  background-color: #1371e5;
  padding: 10px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Espace égal autour des éléments */
  // width: 60%; /* Ajuste la largeur pour contrôler l'espacement */
}

.menu li {
  margin-right: 15px;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu li a:hover {
  background-color: #5c9eef;
  color: #fff;
  border-radius: 5px;
}

// page de connexion
/* Exemple pour ajouter une bordure arrondie au formulaire */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajouter un effet au survol des liens */
.text-muted:hover {
  color: #007bff;  /* Changer la couleur au survol */
  text-decoration: underline;  /* Sous-ligner lors du survol */
}

